In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style='white')

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go

In [3]:
bseg = pd.read_excel("BSEG_filter.xlsx")

In [4]:
bsad = pd.read_excel("BSAD_filter.xlsx")

In [2]:
df = pd.read_excel("customers.xlsx")

In [3]:
df.head()

,Dataset,Account,Name_1,Name_1.1,place_name
0,2019 Population,6017231,ROUSES POINT VILLAGE CORPORATION,ROUSES POINT VILLAGE CORPORATION,ROUSES POINT VILLAGE
1,2019 Population,6361056,LORAIN HOLDINGS,LORAIN HOLDINGS,LORAIN
2,2019 Population,6360157,ROCKY HILL BOROUGH LLC,ROCKY HILL BOROUGH LLC,ROCKY HILL BOROUGH
3,2019 Population,6360127,BATESVILLE ADMINISTRATION,BATESVILLE ADMINISTRATION,BATESVILLE
4,2019 Population,6046331,FALMOUTH COOPERATIVE,FALMOUTH COOPERATIVE,FALMOUTH

In [36]:
df = df[['Dataset', 'Account', 'Name_1', 'place_name']]

In [43]:
df['us'] = ", USA"

In [44]:
df['new_place_name'] = df['place_name'] + df['us']

In [48]:
df.head()

,Dataset,Account,Name_1,new_place_name
0,2019 Population,6017231,ROUSES POINT VILLAGE CORPORATION,"ROUSES POINT VILLAGE, USA"
1,2019 Population,6361056,LORAIN HOLDINGS,"LORAIN, USA"
2,2019 Population,6360157,ROCKY HILL BOROUGH LLC,"ROCKY HILL BOROUGH, USA"
3,2019 Population,6360127,BATESVILLE ADMINISTRATION,"BATESVILLE, USA"
4,2019 Population,6046331,FALMOUTH COOPERATIVE,"FALMOUTH, USA"

In [77]:
df.isnull().sum()

Dataset           0
Account           0
Name_1            0
new_place_name    0
dtype: int64

In [82]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")
latitude = []
longitude = []
for loc in df['new_place_name']:
    location = geolocator.geocode(loc)
    if location is None:
        latitude.append("")
        longitude.append("")
    else:
        latitude.append(location.latitude)
        longitude.append(location.longitude)

In [83]:
df['latitude'] = latitude
df['longitude'] = longitude

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [88]:
df1 = df[df.latitude == ""]

In [91]:
df1

,Dataset,Account,Name_1,new_place_name,latitude,longitude
54,2019 Population,6362863,COLWYN BOROUGH UNIVERSITY,"COLWYN BOROUGH, USA",,
86,2019 Population,6028142,CLARENDON BOROUGH INSTITUTE,"CLARENDON BOROUGH, USA",,
94,2019 Population,6014077,BLOOMSBURY BOROUGH COLLEGE,"BLOOMSBURY BOROUGH, USA",,
179,2019 Population,6014983,POMPTON LAKES BOROUGH INCORPORATED,"POMPTON LAKES BOROUGH, USA",,
197,2019 Population,5540422,LE RAYSVILLE BOROUGH ENTERPRISES,"LE RAYSVILLE BOROUGH, USA",,
...,...,...,...,...,...,...
2634,2020 Population,6371021,COALMONT BOROUGH COMMUNITY,"COALMONT BOROUGH, USA",,
2636,2020 Population,5531616,SHADE GAP BOROUGH ORGANIZATION,"SHADE GAP BOROUGH, USA",,
2654,2020 Population,6057033,BEN AVON HEIGHTS BOROUGH ASSOCIATES,"BEN AVON HEIGHTS BOROUGH, USA",,
2661,2020 Population,5569101,PEN ARGYL BOROUGH GROUP,"PEN ARGYL BOROUGH, USA",,
2678,2020 Population,6377160,KISTLER BOROUGH AGENCY,"KISTLER BOROUGH, USA",,

In [96]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")
location = geolocator.geocode("Colwyn", country_codes = "us")
print(location)

Colwyn, Delaware County, Pennsylvania, United States of America

In [102]:
x = []
for n in df1['new_place_name']:
    x.append(n[:-13])
df1['new_place_name'] = x

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [104]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")
latitude = []
longitude = []
for loc in df1['new_place_name']:
    location = geolocator.geocode(loc)
    if location is None:
        latitude.append("")
        longitude.append("")
    else:
        latitude.append(location.latitude)
        longitude.append(location.longitude)

In [105]:
df1['latitude'] = latitude
df1['longitude'] = longitude

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [106]:
df1.head()

,Dataset,Account,Name_1,new_place_name,latitude,longitude
54,2019 Population,6362863,COLWYN BOROUGH UNIVERSITY,COLWYN,39.9123,-75.2538
86,2019 Population,6028142,CLARENDON BOROUGH INSTITUTE,CLARENDON,34.9359,-100.891
94,2019 Population,6014077,BLOOMSBURY BOROUGH COLLEGE,BLOOMSBURY,51.5231,-0.126066
179,2019 Population,6014983,POMPTON LAKES BOROUGH INCORPORATED,POMPTON LAKES,41.0054,-74.2907
197,2019 Population,5540422,LE RAYSVILLE BOROUGH ENTERPRISES,LE RAYSVILLE,41.8387,-76.1802

In [109]:
df1.head()

,Dataset,Account,Name_1,new_place_name,latitude,longitude
54,2019 Population,6362863,COLWYN BOROUGH UNIVERSITY,COLWYN,39.9123,-75.2538
86,2019 Population,6028142,CLARENDON BOROUGH INSTITUTE,CLARENDON,34.9359,-100.891
94,2019 Population,6014077,BLOOMSBURY BOROUGH COLLEGE,BLOOMSBURY,51.5231,-0.126066
179,2019 Population,6014983,POMPTON LAKES BOROUGH INCORPORATED,POMPTON LAKES,41.0054,-74.2907
197,2019 Population,5540422,LE RAYSVILLE BOROUGH ENTERPRISES,LE RAYSVILLE,41.8387,-76.1802

In [110]:
x = df1.index

In [111]:
print(x)

Int64Index([  54,   86,   94,  179,  197,  256,  260,  266,  269,  271,
            ...
            2511, 2514, 2573, 2599, 2633, 2634, 2636, 2654, 2661, 2678],
           dtype='int64', length=120)

In [112]:
df_final = df`

In [122]:
for i in x:
    df.ix[i,'new_place_name'] = df1.ix[i, 'new_place_name']
    df.ix[i,'latitude'] = df1.ix[i, 'latitude']
    df.ix[i,'longitude'] = df1.ix[i, 'longitude']

In [124]:
df

,Dataset,Account,Name_1,new_place_name,latitude,longitude
523,2019 Population,6031126,OAK RIDGE TOWN (KAUFMAN COUNTY) ENTERPRISES,OAK RIDGE TOWN (KAUFMAN,,
1830,2019 Population,6360837,GREELEY COUNTY UNIFIED GOVERNMENT (BALANCE) HO...,GREELEY COUNTY UNIFIED GOVERNMENT (,,

In [126]:
x = pd.read_excel("customers.xlsx")

In [128]:
df['new_place_name'] = x['place_name']

In [129]:
df.head()

,Dataset,Account,Name_1,new_place_name,latitude,longitude
0,2019 Population,6017231,ROUSES POINT VILLAGE CORPORATION,ROUSES POINT VILLAGE,44.9939,-73.365
1,2019 Population,6361056,LORAIN HOLDINGS,LORAIN,41.2634,-82.1735
2,2019 Population,6360157,ROCKY HILL BOROUGH LLC,ROCKY HILL BOROUGH,59.2772,-151.403
3,2019 Population,6360127,BATESVILLE ADMINISTRATION,BATESVILLE,35.7698,-91.641
4,2019 Population,6046331,FALMOUTH COOPERATIVE,FALMOUTH,38.6767,-84.3305

In [130]:
df.to_excel(r'B:\customer.xlsx', index = False)

In [132]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")
location = geolocator.geocode("GREELEY COUNTY", country_codes="us")
print(location.latitude)
print(location.longitude)

38.4570355
-101.8185007

In [186]:
df = pd.read_excel("customer_new.xlsx")

In [141]:
df['coord'] = df['latitude'].astype(str)+", "+df["longitude"].astype(str)

In [142]:
df.head()

,Dataset,Account,customer_name,county_name,latitude,longitude,coord
0,2019 Population,6017231,ROUSES POINT VILLAGE CORPORATION,ROUSES POINT VILLAGE,44.993940,-73.364983,"44.99394, -73.364983"
1,2019 Population,6361056,LORAIN HOLDINGS,LORAIN,41.263355,-82.173475,"41.2633554, -82.1734746"
2,2019 Population,6360157,ROCKY HILL BOROUGH LLC,ROCKY HILL BOROUGH,59.277151,-151.403349,"59.2771509, -151.4033488"
3,2019 Population,6360127,BATESVILLE ADMINISTRATION,BATESVILLE,35.769799,-91.640972,"35.769799, -91.6409722"
4,2019 Population,6046331,FALMOUTH COOPERATIVE,FALMOUTH,38.676737,-84.330459,"38.6767366, -84.3304592"

In [144]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")
def state_(coord):
    location = geolocator.reverse(coord, exactly_one=True)
    address = location.raw['address']
    state = address.get('state', '')    
    return state
state = []
for coord in df['coord']:
    x = state_(coord)
    state.append(x)

In [145]:
df['state'] = state

In [147]:
df.drop(['coord'], axis=1, inplace=True)

In [150]:
pip install us

Collecting us
  Downloading https://files.pythonhosted.org/packages/88/04/04323aefa1871de30286d3decae7706481c73bd428cf0c08e158bfa259a6/us-2.0.2.tar.gz
Collecting jellyfish==0.6.1 (from us)
  Downloading https://files.pythonhosted.org/packages/61/3f/60ac86fb43dfbf976768e80674b5538e535f6eca5aa7806cf2fdfd63550f/jellyfish-0.6.1.tar.gz (132kB)
Building wheels for collected packages: us, jellyfish
  Building wheel for us (setup.py): started
  Building wheel for us (setup.py): finished with status 'done'
  Created wheel for us: filename=us-2.0.2-cp37-none-any.whl size=11934 sha256=ba13523a5279f0a3f509614294390de227ecc1cbf0073409adfd273fcad90913
  Stored in directory: C:\Users\vishw\AppData\Local\pip\Cache\wheels\e2\16\45\6453383ffa495670f0f6b80a3e697a9771d98cfbaf8b451e73
  Building wheel for jellyfish (setup.py): started
  Building wheel for jellyfish (setup.py): finished with status 'done'
  Created wheel for jellyfish: filename=jellyfish-0.6.1-cp37-none-any.whl size=10384 sha256=32379bce70649afa7a0d91a52158f0ce60cd1909c0aaed14c6327ba7662f9d16
  Stored in directory: C:\Users\vishw\AppData\Local\pip\Cache\wheels\9c\6f\33\92bb9a4b4562a60ba6a80cedbab8907e48bc7a8b1f369ea0ae
Successfully built us jellyfish
Installing collected packages: jellyfish, us
Successfully installed jellyfish-0.6.1 us-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [192]:
df['state'].nunique()

51

In [193]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")
location = geolocator.geocode("ST. THOMAS",country_codes = "us")
print(location)
print(location.latitude)
print(location.longitude)

Saint Thomas, Saint Thomas - Saint John District, United States Virgin Islands, United States of America
18.34290815
-64.91889970060265